.error {
  color: red;
}
.good {
  color: blue;
}
.flashul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flashli {
  padding: 5px 0;
}
@media screen and (min-width: 0px) and (max-width: 720px) {
  .mobile-hide{ display: none; }
}
