{% extends "bootstrap/base.html" %}
<html>
  <link rel="shortcut icon" href="{{ url_for('static', filename='baby.png') }}">
  {% block title %}Welcome to the Baby Details Guesser{% endblock %}
  {% import "bootstrap/fixes.html" as fixes %}
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ super() }}
  {{ fixes.ie8() }}
  {% endblock %}
  {% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  {% endblock %}
  {% block body %}
  <div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Guesser</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if user is not none and user.is_authenticated() %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <div class="mobile-hide">
  <a href="https://github.com/ThaWeatherman/baby_survey"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  </div>
  <div class="container">
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashul">
    {% for category, message in messages %}
      <li class="{{ category }} flashli">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
  {% endblock %}
  <footer>
  </footer>
</html>
