{% extends "base.html" %}
{% block content %}
<h1>Register</h1>
<form action="" method="post" name="register">
  {{ form.hidden_tag() }}
  <p>
    Email:<br>
    {{ form.email(size=80) }}<br>
    {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>
  </p>
  <p>
    Password:<br>
    {{ form.password(size=80) }}<br>
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>
  </p>
  <p><input type="submit" class="btn btn-info" value="Register"></p>
</form>
{% endblock %}
